<% if @events.length < 1 %>
  No Records<br/>
<% else %>

  <div class="scroll">
    <table class="table table-scrollable table-condensed table-striped">
      <thead>
        <tr>
          <th><%= Event.human_attribute_name(:name) %></th>
          <th><%= Event.human_attribute_name(:capacity) %></th>
          <th><%= Event.human_attribute_name(:room) %></th>
        </tr>
      </thead>
      <tbody>
        <%= @events.each do |event| %>
          <tr>
            <td><%= event.start_datetime %></td>
            <td><%= event.end_datetime %></td>
            <td><%= event.room %></td>
            <td class="nowrap">
              <%= link_to(show_icon, [event], :title => t('events.show.hover_title')) %>
              <%= link_to(edit_icon, [:edit, event], :title => t('events.edit.hover_title')) %>
              <%= link_to(destroy_icon, [event], data: { confirm: 'Are you sure?' }, :method => :delete, :title => t('events.destroy.hover_title')) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


<% end %>
