<article>
  <h1 class="shaded"><%= @page_title = t('events.show.title') %></h1>

  <%= bootstrap_panel(Event.human_attribute_name(:basic_information)) do %>
    <dl class="dl-horizontal">
      <dt><label><%= Event.human_attribute_name(:name) %></label></dt><dd><%= @event.name %></dd>
      <dt><label><%= Event.human_attribute_name(:start_datetime) %></label></dt><dd><%= @event.start_datetime %></dd>
      <dt><label><%= Event.human_attribute_name(:end_datetime) %></label></dt><dd><%= @event.end_datetime %></dd>
      <dt><label><%= Event.human_attribute_name(:room) %></label></dt><dd><%= @event.room.to_s %></dd>
    </dl>
  <% end %>

  <div class="btn-group">
    <%= link_to('Back', root_path, class: 'btn btn-index') %>
    <%= link_to('Edit', [:edit, @event], class: 'btn btn-edit') %>
  </div>
</article>
