<%= form_for([@room], html: { class: 'form-horizontal' }) do |f| %>
  <%= bootstrap_panel(Room.human_attribute_name(:basic_information)) do %>
    <div class="form-group">
      <%= f.label :name, Room.human_attribute_name(:name), class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :capacity, Room.human_attribute_name(:capacity), class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_field :capacity, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit button, class: "btn btn-submit", data: { disable_with: t('form.disable_with') } %>
  </div>
<% end %>
